In [1]:
import pandas as pd

In [5]:
train_data = pd.read_csv('MLDEV2/train.csv',index_col=0)

In [145]:
# train_data

In [10]:
percentiles = [i/10 for i in range(1,11)]
print(percentiles)

[0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]

In [11]:
train_data.describe(percentiles=percentiles)

,l0,l1,l2,l3,l4,l5,l6,l7,y
count,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000,4500.000000
mean,-0.008052,-0.009104,3.871432,3.542939,8.533890,4.339675,3.405829,3.169633,1.500222
std,0.834134,0.836077,45.683718,54.873959,242.452595,83.840217,36.679654,34.586653,1.115172
min,-4.292061,-3.152514,-3.625150,-4.712689,-8.022797,-4.653805,-4.071709,-5.388284,0.000000
10%,-0.977924,-0.981573,-0.875743,-0.877167,-1.678307,-1.345119,-1.312804,-1.539276,0.000000
20%,-0.754251,-0.748666,-0.299888,0.044087,-0.366669,-0.397155,-0.642206,-0.866359,0.000000
30%,-0.532043,-0.523943,0.054195,0.247132,0.096982,0.102122,0.051496,-0.112636,1.000000
40%,-0.278362,-0.257177,0.243168,0.489014,0.301053,0.316885,0.256617,0.164668,1.000000
50%,-0.004189,-0.011871,0.451475,0.759232,0.563555,0.625490,0.541586,0.393503,1.000000
60%,0.256581,0.252745,0.771697,1.082262,0.904948,0.956158,0.934949,0.735834,2.000000
70%,0.507627,0.505260,1.147951,1.452468,1.434489,1.332489,1.515192,1.190081,2.000000
80%,0.738783,0.736446,1.829034,2.101493,2.201773,2.000438,2.385694,1.886956,3.000000
90%,0.961730,0.961100,4.049653,3.879740,4.525847,4.067210,4.516367,3.890521,3.000000
100%,3.657206,3.267110,2253.329592,2815.444726,15459.047782,5442.695002,1935.040403,1539.971161,3.000000
max,3.657206,3.267110,2253.329592,2815.444726,15459.047782,5442.695002,1935.040403,1539.971161,3.000000

In [25]:
train_data.groupby('y').count()

     l0    l1    l2    l3    l4    l5    l6    l7
y
0  1109  1109  1109  1109  1109  1109  1109  1109
1  1157  1157  1157  1157  1157  1157  1157  1157
2  1108  1108  1108  1108  1108  1108  1108  1108
3  1126  1126  1126  1126  1126  1126  1126  1126

In [15]:
train_data.groupby('y').mean()

,l0,l1,l2,l3,l4,l5,l6,l7
y,,,,,,,,
0,-0.019433,0.012102,6.623750,7.538683,26.423463,11.701226,5.995571,4.751918
1,-0.002896,-0.009317,8.792132,5.881700,8.249130,5.677305,7.342955,8.497181
2,0.004380,-0.012549,-0.059807,-0.306520,0.627460,0.319917,-0.607582,-0.349400
3,-0.014375,-0.026379,-0.027111,0.992292,-1.012953,-0.329692,0.758921,-0.400204

In [18]:
train_data.groupby('y').std()

,l0,l1,l2,l3,l4,l5,l6,l7
y,,,,,,,,
0,0.712945,0.701490,43.229827,90.642935,485.956984,167.320092,39.927278,15.740449
1,0.564369,0.567403,79.171232,61.643872,44.352791,20.705478,60.491233,66.025210
2,1.007119,0.979515,1.015585,1.312184,1.494946,1.498803,1.510006,1.233996
3,0.977852,1.017428,0.976206,1.049100,1.794053,1.333344,1.612807,1.518264

In [19]:
train_data.groupby('y').describe()

       l0                                                                  \
    count      mean       std       min       25%           50%       75%
y
0  1109.0 -0.019433  0.712945 -0.999965 -0.748724 -2.513010e-02  0.690630
1  1157.0 -0.002896  0.564369 -0.799993 -0.571578  2.266216e-16  0.557332
2  1108.0  0.004380  1.007119 -4.292061 -0.648162  1.190969e-02  0.676026
3  1126.0 -0.014375  0.977852 -3.005928 -0.677643 -2.356981e-02  0.642714

                 l1               ...             l6                   l7  \
        max   count      mean     ...            75%          max   count
y                                 ...
0  1.000000  1109.0  0.012102     ...       3.166762  1160.840761  1109.0
1  0.800000  1157.0 -0.009317     ...       3.040307  1935.040403  1157.0
2  2.972906  1108.0 -0.012549     ...       0.081649     5.124309  1108.0
3  3.657206  1126.0 -0.026379     ...       1.671418     8.353842  1126.0


       mean        std       min       25%       50%       75%          max
y
0  4.751918  15.740449  0.000329  0.350699  1.048186  3.111867   229.656602
1  8.497181  66.025210  0.000753  0.320881  0.910714  2.777714  1539.971161
2 -0.349400   1.233996 -3.449962 -1.235637 -0.549028  0.491432     3.631620
3 -0.400204   1.518264 -5.388284 -1.514426 -0.435953  0.716343     5.041334

[4 rows x 64 columns]

In [20]:
train_data.groupby('y').describe()['l0']

,count,mean,std,min,25%,50%,75%,max
y,,,,,,,,
0,1109.0,-0.019433,0.712945,-0.999965,-0.748724,-2.513010e-02,0.690630,1.000000
1,1157.0,-0.002896,0.564369,-0.799993,-0.571578,2.266216e-16,0.557332,0.800000
2,1108.0,0.004380,1.007119,-4.292061,-0.648162,1.190969e-02,0.676026,2.972906
3,1126.0,-0.014375,0.977852,-3.005928,-0.677643,-2.356981e-02,0.642714,3.657206

In [21]:
train_data.groupby('y').describe()['l1']

,count,mean,std,min,25%,50%,75%,max
y,,,,,,,,
0,1109.0,0.012102,0.701490,-1.000000,-0.672238,0.008377,0.711536,0.999991
1,1157.0,-0.009317,0.567403,-0.800000,-0.576247,-0.026803,0.557332,0.800000
2,1108.0,-0.012549,0.979515,-2.712870,-0.657803,-0.003262,0.627378,3.141241
3,1126.0,-0.026379,1.017428,-3.152514,-0.724785,-0.007387,0.669264,3.267110

In [22]:
train_data.groupby('y').describe()['l2']

,count,mean,std,min,25%,50%,75%,max
y,,,,,,,,
0,1109.0,6.623750,43.229827,0.000415,0.315258,1.069722,3.171296,1160.160773
1,1157.0,8.792132,79.171232,0.001722,0.336609,1.007581,3.086963,2253.329592
2,1108.0,-0.059807,1.015585,-3.625150,-0.721549,-0.062634,0.667884,3.847268
3,1126.0,-0.027111,0.976206,-3.304651,-0.718724,-0.030583,0.685215,2.667753

In [23]:
train_data.groupby('y').describe()['l3']

,count,mean,std,min,25%,50%,75%,max
y,,,,,,,,
0,1109.0,7.538683,90.642935,0.002043,0.345232,0.969714,2.807306,2815.444726
1,1157.0,5.881700,61.643872,0.000108,0.342749,1.040274,3.016971,1958.933098
2,1108.0,-0.306520,1.312184,-4.712689,-1.316959,-0.246183,0.822207,3.001895
3,1126.0,0.992292,1.049100,-2.377965,0.290234,0.959180,1.697754,4.771585

     l0    l1    l2    l3    l4    l5    l6    l7
y
0  1109  1109  1109  1109  1109  1109  1109  1109
1  1157  1157  1157  1157  1157  1157  1157  1157
2  1108  1108  1108  1108  1108  1108  1108  1108
3  1126  1126  1126  1126  1126  1126  1126  1126

In [27]:
import numpy as np
import matplotlib.pyplot as plt

In [78]:
X = train_data[['l0','l1','l3','l4','l5','l6','l7']].values
Y = train_data[['y']].values.reshape(-1)

In [147]:
X.shape

(4500, 7)

In [166]:
plt.figure(figsize=(24,20))
plt.scatter(X[:,2], X[:,1], c=Y, alpha=0.2, s=100)
plt.show()

In [167]:
# Убираем объекты со значеним признака меньше 5
plt.figure(figsize=(24,20))
plt.scatter(X[X[:,2]<5][:,2], X[X[:,2]<5][:,1], c=Y[X[:,2]<5], alpha=0.2, s=100)
plt.show()

In [168]:
plt.figure(figsize=(24,20))
plt.scatter(X[X[:,3]<5][:,3], X[X[:,3]<5][:,1], c=Y[X[:,3]<5], alpha=0.2, s=100)
plt.show()

In [169]:
plt.figure(figsize=(24,20))
plt.scatter(X[Y>1][:,3], X[Y>1][:,1], c=Y[Y>1], alpha=0.5, s=100)
plt.show()

In [170]:
plt.figure(figsize=(24,20))
plt.scatter(X[X[:,3]<5][:,3], X[X[:,3]<5][:,1], c=Y[X[:,3]<5], alpha=0.2, s=100)
plt.show()

In [171]:
plt.figure(figsize=(24,20))
plt.scatter(X[:,0], X[:,1], c=Y, alpha=0.5, s=100)
plt.show()

In [172]:
plt.figure(figsize=(24,20))
plt.scatter(X[:,0], -(X[:,0]*X[:,0]+X[:,1]*X[:,1]), c=Y, alpha=0.2, s=100)
plt.show()

In [173]:
plt.figure(figsize=(24,20))
plt.scatter(X[:,0], (X[:,0]*X[:,0]+X[:,1]*X[:,1])**0.5, c=Y, alpha=0.2, s=100)
plt.show()

In [ ]:
from pandas.plotting import scatter_matrix

In [174]:
scatter_matrix(
    train_data.clip(-5,5),
    alpha=0.5, figsize=(24,24), 
    diagonal='kde', 
    c=Y
)
plt.show()

In [35]:
kls_01_train = train_data.loc[train_data['y'].isin([0, 1])]

In [105]:
from sklearn.decomposition import PCA

In [175]:
_X = PCA(n_components=2).fit_transform(X)
plt.figure(figsize=(24,20))
plt.scatter(_X[:,0], _X[:,1], c=Y, alpha=0.2, s=100)
plt.show()

In [103]:
_X = PCA(n_components=2).fit_transform(X.clip(-5, 5))

In [151]:
pca  = PCA(n_components=2)

In [152]:
pca

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [154]:
pca.fit(X.clip(-5, 5))

PCA(copy=True, iterated_power='auto', n_components=2, random_state=None,
  svd_solver='auto', tol=0.0, whiten=False)

In [164]:
_X = pca.transform(X.clip(-5,5))

In [176]:
plt.figure(figsize=(24,20))
plt.scatter(_X[:,0], _X[:,1], c=Y, alpha=0.2, s=100)
plt.show()

In [108]:
from sklearn.manifold import TSNE

In [109]:
_X = TSNE(n_components=2).fit_transform(X.clip(-5, 5))

In [177]:
plt.figure(figsize=(24,20))
plt.scatter(_X[:,0], _X[:,1], c=Y, alpha=0.2, s=100)
plt.show()

In [111]:
X_tsne = _X

In [112]:
from sklearn.neighbors import KNeighborsClassifier

In [129]:
tsne_knn_clf = KNeighborsClassifier(n_neighbors=7)
tsne_knn_clf.fit(X_tsne, Y)


x_min, x_max = X_tsne[:, 0].min() - 1, X_tsne[:, 0].max() + 1
y_min, y_max = X_tsne[:, 1].min() - 1, X_tsne[:, 1].max() + 1

In [130]:
h = .05
xx, yy = np.meshgrid(    

    np.arange(y_min, y_max, h),
    np.arange(x_min, x_max, h),
)
Z = tsne_knn_clf.predict(np.c_[xx.ravel(), yy.ravel()])
Z = Z.reshape(xx.shape)

In [178]:
plt.figure(figsize=(15, 15))
plt.pcolormesh(xx, yy, Z, cmap=plt.get_cmap('rainbow'))
plt.scatter(X_tsne[:,0], X_tsne[:,1], c=Y, s=100, alpha=0.8, cmap='rainbow')
plt.xlim(xx.min(), xx.max())
plt.ylim(yy.min(), yy.max())
plt.show()